<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".CampusEventDiscoveryApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusEventDiscovery">

        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Cloudinary Upload Service -->
        <service
            android:name="com.cloudinary.android.uploadwidget.UploadWidgetService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.sos.SOSAlertActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.admin.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.MaintenanceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.OrganizerProposalDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.profile.NotificationCenterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.profile.MemoriesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.profile.MemoryAlbumActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.organizer.WhoIsComingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.organizer.OrganizerEventDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.WelcomeActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.organizer.ManageEventsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.profile.AccountSettingsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.organizer.CreateEventActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.EventApprovalActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.PaymentConfirmationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.EventFeedbackActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.BuyTicketActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.CampusMapActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.EventDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="events"
                    android:scheme="campusevent" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.CampusEventDiscovery.ui.sos.SosActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.sos.SOSDashboardActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.event.TicketActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.organizer.ScannerActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.ui.organizer.TicketCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/zxing_CaptureTheme" />

        <activity
            android:name="com.example.CampusEventDiscovery.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.example.CampusEventDiscovery.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CampusEventDiscovery.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
